# Dependencies
/node_modules

# Build output
/dist
/tmp
/out-tsc
/bazel-out

# Angular cache
/.angular

# Test / coverage
/coverage
*.lcov

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment (secrets locaux)
.env
.env.local
